<div>
    <h2 id="page-heading">
        <span>Product Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-type" [routerLink]="['/product-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Product Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productTypes?.length === 0">
        <span>No productTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productTypes && productTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Code</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productType of productTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/product-type', productType.id, 'view']">{{ productType.id }}</a></td>
                    <td>{{ productType.code }}</td>
                    <td>{{ productType.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-type', productType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-type', productType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
